@import 'tool'
body 
  font-family: 'jf-bunguan', 'Noto Sans', sans-serif
  background-color: #e8e4d9

//Header
header
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 990
  background-color: rgba(255, 255, 255, 0.1)
  backdrop-filter: blur(8px)
  -webkit-backdrop-filter: blur(8px)
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
.hero-header
  position: relative

//more button
.more a
  color: $blue
  background-color: $White
  border-radius: 30px
  padding: 5px 10px
  font-size: 20px
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
  &:hover
    background-color: $blue
    color: $White


//Nav
.classynav
  .menu-toggle
      display: none
      cursor: pointer
      padding: 10px
      font-size: 36px
      text-align: right
      color: $main-color
      line-height: 1.5
  ul
      list-style: none
      padding: 10px 0
      margin: 0
      display: flex
      justify-content: center
      
      > li 
          position: relative
          
          > a 
              display: block
              padding: 15px 20px
              color: $White
              text-decoration: underline solid #76b347
              text-underline-offset: 8px
              transition: background-color 0.3s, color 0.3s
              white-space: nowrap
              &:hover
                text-decoration: none
.classynav ul li 
  .dropdown 
      position: absolute
      top: 110%
      left: 0
      min-width: 180px
      background-color: #76b347
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
      z-index: 1000
      opacity: 0 
      visibility: hidden
      transition: opacity 0.3s, visibility 0.3s
      display: block

      // 下拉菜單項
      li
          display: block
          a
              padding: 10px 15px
              color: $White
              &:hover
                  background-color: #76b347
                  color: white
  &:hover > .dropdown
      opacity: 1
      visibility: visible


//hero
.hero-section
  margin-top: -80px
  .hero-info
    background-image: url('../img/hero.png')
    background-size: cover
    background-position: center bottom
    min-height: 120vh
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    .hero-text
      padding:5% 10% 0
      h1
        line-height: 1.3
        font-size: 52px
        color: #e8e4d9
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5)

//area
.area
  background-image: url('../img/tree.webp')
  position: relative
  width: 100%
  background-size: cover     
  background-position: center top
  background-repeat: no-repeat
  height: 0
  padding-top: 130%
  margin-top: 270px
  .area-info 
    .area-text 
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      z-index: 100
      margin-top: -200px
      writing-mode: vertical-rl
      color: $secondary
      h1 
        font-size: 52px
        padding-left: 5%
      p 
        font-size: 24px
        max-height: 450px
        span
          writing-mode: horizontal-tb
    .wave
      position: absolute
      bottom: 0

//land
.land 
  background-image: url('../img/treasureland.webp')
  width: 100%
  background-size: cover    
  background-position: center top
  background-repeat: no-repeat
  min-height: 172vh
  .land-text
    color: $White
    padding: 20px 15px
    text-align: center
  h2
    font-size: 44px
    line-height: 1
  h3
    font-size: 28px
  p
    font-size: 24px
    line-height: 1.2
  a
    color: $blue
    background-color: $White
    border-radius: 30px
    padding: 5px 10px
    font-size: 18px
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    &:hover
      background-color: $blue
      color: $White


//framework
.framework
  margin-bottom: 50px
  .title
    color: #2a332e
    padding: 30px 0
    text-align: center
  h1
    font-size: 52px
  h2
    font-size: 44px
  h3
    font-size: 32px
    text-align: center
  p
    font-size: 24px
  .content
    background-color: $White
    color: $main-color
    border-radius: 80px
    padding: 40px 30px
  .framework-info
    .line
      background-color: $main-color
      width: 100%
      height: 1px
      margin: 50px 0 30px 0

//goodperson
.goodperson
  background-image: url('../img/goodperson.webp')
  width: 100%
  background-size: cover    
  background-position: center bottom
  background-repeat: no-repeat
  // min-height: 193vh
  padding-bottom: 13%
  .goodperson-top
    color: #585959
    display: flex
    padding-top: 50px
    .goodperson-info
      width: 85%
      .content
        background-color: $White
        border-radius: 30px
        padding: 20px
      .info-text
        padding-top: 30px
        h2 
          color: #dd0000
        p
          color: $main-color
    .goodperson-title
      width: 15%
      writing-mode: vertical-rl
  h1
    font-size: 52px
    letter-spacing: 8px
  h2
    font-size: 32px
  p
    font-size: 24px
  .goodperson-bottom
    padding-top: 14%
    color: $White

//triangle-bg
.guarding-triangle , .land-triangle
  display: flex
  justify-content: center
  margin-top: -1px


//guarding
.guarding
  padding-top: 7%
  color: $main-color
  background-image: url('../img/guarding.png')
  width: 100%
  background-size: contain    
  background-position: center top
  background-repeat: no-repeat
  position: relative
  &::before
    content: ""
    position: absolute
    top: 13%
    right: 0
    width: 25%
    height: 38%
    background-image: url('../img/tree01.png')
    background-size: contain
    background-repeat: no-repeat
  &::after
    content: ""
    position: absolute
    bottom: 0%
    left: 0
    width: 22%
    height: 29%
    background-image: url('../img/tree02.png')
    background-size: contain
    background-repeat: no-repeat
  h2
    font-size: 32px
  h1
    font-size: 52px
  .guarding-mid
    padding: 4% 20px 12% 20px
  .guarding-bottom
    .text
      padding-left: 15%
    .line
      margin: 5% 0
      width: 100%
      height: 60px
      background-color: #c8bb9b
    
//urgency
.urgency
  position: relative
  width: 100%
  background-image: url('../img/urgency.webp')
  background-size: cover
  background-repeat: no-repeat
  // background-attachment: fixed
  background-position: center 330px
  // min-height: 230vh
  h1
    color: $green
    font-size: 52px
  h2
    font-size: 32px
    color: $secondary
  h3
    font-size: 24px
    color: $green
    line-height: 1
  p
    color: $secondary
  .info
    .part
      border-left: 5px solid $green
      margin-top: 30px
      width: 100%
      padding-left: 15px
    div
      width: 38%
    .pic
      width: 24%
      img
        // height: 100%
        object-fit: cover
  .urgency-bottom 
    padding-top: 10%
    .text
      padding-top: 50px
      p
        font-size: 24px
        color: $White
        text-shadow: 1px 1px 3px rgba(0,0,0,0.8)
      span
        writing-mode: horizontal-tb

//design
.design
  margin: 60px 0 10px 0
  h2
    color: $main-color
    font-size: 32px    
  p
    font-size: 24px
    color: $White
    line-height: 1.2
  .design-bottom
    background-image: url('../img/grass.webp')
    background-size: cover
    background-repeat: no-repeat
    background-position: center bottom
    padding-bottom: 12%
    padding-top: 4%
    .info
      padding-top: 14%
      .text
        border-left: 5px solid $White
        padding-left: 15px
      .atag div
        padding: 5px 0

//life
.life
  h1
    color: $main-color
    font-size: 52px
  h2
    color: $main-color
    font-size: 28px
  .life-bg
    margin-top: 2%
    background-image: url('../img/life.webp')
    background-size: cover
    background-repeat: no-repeat
    background-position: center bottom
    padding-bottom: 12%
    .text
      padding: 0 41% 0 2%

//crisis
.crisis
  background-image: url('../img/crisis.webp')
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  .triangle
    display: flex
    justify-content: center
    margin-top: -1px
  h1
    font-size: 90px
    color: #e8e4d9
    line-height: 1
  h2
    color: #e8e4d9
    font-size: 36px
    text-align: center
  p
    color: $green
    font-size: 24px
  .info
    width: 100%
    .box
      background-color: #e8e4d9
      margin: 20px 0
      border-radius: 20px
      padding: 20px 10px
      text-align: center
      min-height: 147px
      display: flex
      align-items: center
      justify-content: center

//longtails
.longtails
  margin: 5%
  h1
    font-size: 52px
    color: $main-color
  p
    font-size: 24px
    color: $main-color
  img
    margin: 5% 0

//solution
.solution
  background-image: url('../img/solution.webp')
  background-size: cover
  background-repeat: no-repeat
  background-position: center top
  color: $blue
  padding: 2% 0 10% 0
  h1
    font-size: 52px
  h2
    font-size: 32px
  p
    font-size: 24px
  .p-text
    padding: 8% 0 10% 0
  .box
    border: 1px solid $main-color
    margin: 0 14%
    padding: 20px

//envelope
.envelope
  background-image: url('../img/envelope-bg.webp')
  background-size: cover
  background-repeat: no-repeat
  background-position: center top
  position: relative
  min-height: 200vh
  .info
    position: relative
    .envelope-more
      position: absolute
      bottom: 70px
      right: 150px
  .slogan
    padding: 8% 0
  .bottom-line
    position: absolute
    bottom: 0
    background-color: $blue
    width: 100%
    height: 80px



//分頁
.page-box
  padding: 20px
  background-color:  rgb(255 255 255 / 90%) 
  border-radius: 30px

.page-top 
  padding-top: 170px

.page-button
  color: $White
  font-size: 60px
  text-decoration: underline solid $White
  text-underline-offset: 8px
  padding-top: 16%
  padding-bottom: 40px
  a
    &:hover
      text-shadow: 1px 1px 3px rgba(0,0,0,0.8)

//figures
.figures
  background-image: url('../img/figures.webp')
  width: 100%
  background-size: cover    
  background-position: center center
  background-repeat: no-repeat
  min-height: 200vh
  h2
    font-size: 44px
    padding: 0 15px
  h3
    font-size: 32px
    display: inline-block
  h4
    font-size: 26px
    display: inline-block
  p
    font-size: 22px
    line-height: 1.2
  .info-text
    text-align: center
    color: $White
    padding: 130px 15px 0 15px
    .paragraph
      .part
        padding-bottom: 20px
        .name
          padding-bottom: 10px
          .l-line
            border-right: none
            border-bottom: 5px solid $White

//data
.data
  background-image: url('../img/data.webp')
  width: 100%
  background-size: cover    
  background-position: center bottom
  background-repeat: no-repeat
  .info
    margin-bottom: 40px
    img
      mix-blend-mode: multiply
    .w-40
      width: 40%
    .w-60
      width: 60%

//report
.report
  background-image: url('../img/report.webp')
  width: 100%
  background-size: cover    
  background-position: center bottom
  background-repeat: no-repeat
  .text
    color: $White
    font-size: 36px
    text-align: center
    padding-top: 10%

//mortality
.mortality
  background-image: url('../img/mortality.webp')
  width: 100%
  background-size: cover    
  background-position: center bottom
  background-repeat: no-repeat
  p
    color: $blue
    font-size: 22px
  .page-box
    background-image: url('../img/mortalitybg.webp')
    width: 100%
    background-size: cover    
    background-position: center top
    background-repeat: no-repeat
    padding: 7% 7% 10% 7%
    .text
      padding-bottom: 5%
    .pic
      padding: 3%
      div
        margin: 10px

//crisis  
.page-crisis
  background-image: url('../img/page-crisis.webp')
  width: 100%
  background-size: cover    
  background-position: center top
  background-repeat: no-repeat
  h1
    font-size: 72px
    color: $blue
    text-align: center
    line-height: 1.2
  .info
    margin-bottom: 40px
    .page-box
      padding: 3%

//more-data
.more-data
  background-image: url('../img/moredata.webp')
  width: 100%
  background-size: cover    
  background-position: center bottom
  background-repeat: no-repeat
  p
    color: $blue
    font-size: 24px
  .info
    margin-bottom: 40px
    .page-box
      padding: 0
      .pc-pic 
        width: 30%
        img
          border-radius: 30px 0 0 30px
      .text
        width: 70%
        padding: 40px 40px 0 40px
  .info-bottom
    h1
      text-align: center
      font-size: 42px
      color: $blue
      line-height: 1.1
      span
        color: #c20d23
        font-size: 62px
    img
      padding: 20px 0
  
//plan
.plan
  background-image: url('../img/plan.webp')
  width: 100%
  background-size: cover    
  background-position: center top
  background-repeat: no-repeat
  .text
    color: $White
    font-size: 36px
    text-align: center
    padding-top: 10%

//climate
.climate
  background-image: url('../img/climate.webp')
  width: 100%
  background-size: cover    
  background-position: center bottom
  background-repeat: no-repeat

//suggestions
.suggestions
  background-image: url('../img/suggestions.webp')
  width: 100%
  background-size: cover    
  background-position: center bottom
  background-repeat: no-repeat


//nav分頁
//join
.join
  background-image: url('../img/join.webp')
  width: 100%
  background-size: cover    
  background-position: center bottom
  background-repeat: no-repeat
  .title
    color: $blue
    -webkit-text-stroke: 8px #e8e4db
    paint-order: stroke fill
    -webkit-text-fill-color: $blue
    h1
      font-size: 72px
    h2
      font-size: 52px
  .a-tag 
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    width: 100%
    a
      display: block
      background-color: #e8e4db
      margin: 30px 0
      text-align: center
      font-size: 32px
      color: #3c3736
      border-radius: 50px
      // width: 40%
      padding: 12px 30px
      box-shadow: inset 0 0 0 2px #d3bea4,0 6px 1px $secondary,0 8px 15px rgba(0, 0, 0, 0.5)
      border: 8px solid #e8e4db
      position: relative
      transition: all 0.15s ease-out
      &:nth-child(2)
        margin-left: 15%
      &:nth-child(3)
        margin-left: 30%
      &::after
        content: ""
        position: absolute
        width: 80px
        height: 80px
        background-image: url('../img/touch.webp')
        background-size: contain
        background-repeat: no-repeat
        right: -35px
        bottom: -35px
      &:hover
        box-shadow: inset 0 0 0 2px #d3bea4,0 3px 1px $secondary,0 4px 8px rgba(0, 0, 0, 0.5)
        transform: translateY(3px)
        &::after
          transform: translate(0px, 3px)
  .pic
    margin-top: -5%

//vision
.vision
  background-image: url('../img/vision.webp')
  width: 100%
  background-size: cover    
  background-position: center bottom
  background-repeat: no-repeat

//petition
.petition
  background-image: url('../img/petition.webp')
  width: 100%
  background-size: cover    
  background-position: center bottom
  background-repeat: no-repeat
  .top
    background-image: url('../img/petition-top.webp')
    width: 100%
    background-size: 100%   
    background-position: center bottom
    background-repeat: no-repeat
    padding-bottom: 11%
    .text
      padding-top: 130px
      text-align: center
      color: $White
      h1
        font-size: 52px
      h2
        font-size: 32px
  .mid
    .text
      text-align: center
      padding-top: 5%
      h3
        font-size: 28px
        color: #292e21
      p
        font-size: 20px
        color: #c50018
    .pic
      border-top: 2px solid #171b15
      padding: 30px 0
    .referendum-pic
      position: relative
      .referendum-atag
        width: 20%
        position: absolute
        bottom: 7%
        left: 50%
        transform: translateX(-50%)
        transition: all 0.15s ease-out
        &:hover
          width: 22%
    .a-tag
      display: flex
      justify-content: center
      width: 100%
      a
        display: block
        background-color: #e8e4db
        margin: 30px 0
        text-align: center
        font-size: 32px
        color: #3c3736
        border-radius: 50px
        padding: 12px 30px
        box-shadow: inset 0 0 0 2px #d3bea4,0 6px 1px $secondary,0 8px 15px rgba(0, 0, 0, 0.5)
        border: 8px solid #e8e4db
        transition: all 0.15s ease-out
        &:hover
          box-shadow: inset 0 0 0 2px #d3bea4,0 3px 1px $secondary,0 4px 8px rgba(0, 0, 0, 0.5)
          transform: translateY(3px)
  .bottom
    background-image: url('../img/petition-bottom.webp')
    width: 100%
    background-size: cover    
    background-position: center bottom
    background-repeat: no-repeat
    padding-bottom: 2%





//RWD 寬
@media screen and (min-width: 1440px)
  .urgency .urgency-bottom
    .text
      padding: 90px 0 230px 0
@media screen and (min-width: 1200px)
  .land
    position: relative
    .land-text
      padding: 0
      writing-mode: vertical-rl 
      position: absolute
      left: 50%
      transform: translateX(-50%)
      text-align: left
      .land-title
        padding: 40px 0 0 30px
      .land-info
        padding: 65px 0 200px 0
        .land-paragraph
          padding-left: 9.5%
    a
      padding: 10px 5px
    p
      span
        writing-mode: horizontal-tb 
  .figures
    position: relative
    .info-text
      writing-mode: vertical-rl
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      text-align: left
      padding: 180px 0 0 0
      .paragraph
        padding: 0 20px
        .part
          padding: 0 6px
          .name
            .l-line
              border-right: 5px solid $White
              border-bottom: none
        .t-line
          border-top: 5px solid $White
          padding-top: 5px
    .page-button
      position: absolute
      bottom: 5%
      left: 50%
      transform: translateX(-50%)
      z-index: 9999
  .urgency
    background-position: center 220px
    min-height: 295vh
    .urgency-bottom
      padding-top: 37%
      .text
        writing-mode: vertical-rl
        padding: 90px 0 140px 0
        position: absolute
        left: 50%
        transform: translateX(-50%)
        text-align: left
        padding-top: 5%
    .urgency-more
      position: absolute
      bottom: 50px
      left: 50%
      transform: translateX(-50%)
  .design
    .design-bottom
      .slogan
        text-align: center
        h2:first-child
          padding-right: 55%
  .solution
    padding: 2% 0 26% 0
    .p-text
      text-align: right
  .envelope
    margin-top: -20%
    min-height: 280vh


@media screen and (max-width: 991px)  
  .classynav ul > li > a
    padding: 15px 7px
  .hero-section .hero-info
    min-height: 100vh
    .hero-text h1
      font-size: 32px
  .area
    margin-top: 370px
    .area-info 
      .area-text
        margin-top: -330px
        h1
          font-size: 42px
  .framework
    h2
      font-size: 32px
    h1
      font-size: 42px
      line-height: 1.1
      padding: 10px 0
  .goodperson
    padding-bottom: 28%
  .crisis
    h1
      font-size: 72px
    .info .box
      min-height: auto
    .more
      text-align: center
  .data .info 
    .w-40 , .w-60
      width: 100%
  .page-crisis h1
    font-size: 52px
  .more-data
    .info
      .page-box
        .pc-pic 
          width: 100%
        .m-pic
          img
            border-radius: 30px 30px 0 0
        .text
          width: 100%
          padding: 20px
  .petition 
    .top
      padding-bottom: 13%
      .text
        padding-top: 100px

  



@media screen and (max-width: 768px) 
  .classynav 
    background-color: #e8e4d9
    // 顯示漢堡圖標
    .menu-toggle 
        display: block
    ul 
        display: none 
        flex-direction: column
        width: 100%
        text-align: left
        position: absolute 
        top: 65px
        left: 0
        background-color: #e8e4d9
        z-index: 999
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
        &.active
            display: flex
        > li
            width: 100%

            // 下拉選單處理
            .dropdown 
                position: static
                width: 100%
                border: none
                box-shadow: none
                background-color: #76b347
                opacity: 1
                visibility: visible
                display: none
                li a 
                    padding-left: 30px
            &.dropdown-open > .dropdown 
                display: block
            &:hover > .dropdown
                  opacity: 1
                  visibility: visible
            a
              color: $main-color
  .hero-section .hero-info .hero-text
    padding: 26% 13% 0
  .land
    min-height: 180vh
  .goodperson
    padding-bottom: 33%
  .page-button
    font-size: 40px
  .figures
    min-height: 180vh
    margin-top: 0
  .urgency
    background-position: center 850px
    .info 
      div
        width: 100%
      .pic
        width: 50%
  .life .life-bg .text 
    padding: 0 26% 0 2%
  .solution 
    .info img
      max-width: 120%
    .box
      margin: 0
  .envelope
    min-height: 160vh
    .info 
      .envelope-more
        bottom: 40px
        right: 100px
        a
          font-size: 12px
  .page-top
    padding-top: 130px
  .join 
    .a-tag a
      font-size: 24px
      margin: 16px 0
      padding: 8px 30px
    .title 
      h1
        font-size: 62px
      h2
        font-size: 42px
  .petition 
    .top 
      padding-bottom: 19%
      .text
        h1
          font-size: 32px
        h2
          line-height: 1.1
          font-size: 24px
  .petition 
    .mid 
      .a-tag a
        font-size: 24px
        margin: 16px 0
        padding: 8px 30px



@media screen and (max-width: 576px) 
  .more a
    font-size: 16px
  .hero-section .hero-info
    min-height: 75vh
    .hero-text h1
      font-size: 24px
  .area-section .area-text
    h1
      font-size: 42px
    p
      font-size: 24px
  .area .area-info .area-text p
    font-size: 22px
    max-height: 400px
  .land
    h2
      font-size: 30px
    h3
      font-size: 24px
    p 
      line-height: 1.3
      font-size: 20px
    a
      font-size: 14px
  .framework
    line-height: 1.3
    .framework-info
      .line
        margin: 20px 0
    p , h3
      font-size: 20px
    h2
      font-size: 30px
  .goodperson 
    h1
      font-size: 42px
    h2
      font-size: 28px
    p
      font-size: 20px
    .goodperson-bottom
      padding-top: 30%
  .figures
    h2
      font-size: 30px
    h3
      font-size: 24px
    p
      font-size: 20px
  .guarding
    h1
      font-size: 40px
    h2
      font-size: 28px
    &::before
      top: 18%
      width: 28%
  .urgency 
    background-position: center 815px
    h1
      font-size: 40px
    h2
      font-size: 28px
    p
      font-size: 20px !important
  .design
    h2
      font-size: 28px
    p
      font-size: 20px
  .life
    h1
      font-size: 40px
    h2
      font-size: 24px
  .crisis
    h1
      font-size: 52px
    .info .box
      padding: 10px
  .longtails
    h1
      font-size: 40px
    p
      font-size: 20px
  .solution
    h1
      font-size: 40px
    h2
      font-size: 24px
    p
      font-size: 20px
  .envelope
    min-height: 115vh
    .bottom-line
      height: 40px
    .text h2
      font-size: 24px
  .mortality p
    font-size: 20px
  .page-crisis h1
    font-size: 40px
  .more-data
    p
      font-size: 20px
    .info-bottom h1
      font-size: 32px
      span
        font-size: 38px
  .join
    .title
      h1
        font-size: 48px
    .a-tag
      a
        font-size: 20px
        padding: 8px 20px
        &:nth-child(1)
          margin-right: 5%
        &:nth-child(2)
          margin-left: 10%
        &:nth-child(3)
          margin-left: 25%
        &::after
          width: 60px
          height: 60px
          bottom: -30px
          right: -10px
  .petition 
    .top 
      padding-bottom: 20%
      .text
        padding-top: 90px
        h1
          font-size: 24px
        h2
          font-size: 18px
        p
          line-height: 1
          font-size: 14px
    .mid 
      .a-tag a
        font-size: 20px
        padding: 8px 20px
      .text h3
        font-size: 24px



@media screen and (max-width: 440px) 
  .land
    min-height: 200vh
  .goodperson
    padding-bottom: 56%



//RWD 高
@media screen and (min-width: 1200px) and (max-height: 700px)
  .urgency 
    min-height: 365vh
    .urgency-bottom .text
      writing-mode: horizontal-tb